* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #202124;
}

header {
    border-bottom: 1px solid #ccc;
    padding: 1rem 2rem;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#search-container {
    display: flex;
    align-items: center;
    gap: 1rem;

}

#search-input {
    background-color: #525356;
    border-radius: 5px;
    border: none;
    padding: 10px;
    font-weight: bold;
    color: #ddd;
    width: 400px;

}

#search-input::placeholder {
    color: #ddd;

}

#export-notes {
    background-color: #333;
    border: 2px solid #fff;
    border-radius: 4px;
    color: #fff;
    padding: 10px;
    text-align: center;
    padding-top: 0px;
    cursor: pointer;
    transition: 0.4s;
}

#export-notes:hover {
    background-color: #FFF;
    color: #333;
}

button>span {
    position: relative;
    top: 5px;

}

#add-note-container {
    display: flex;
    width: 400px;
    margin: 1rem auto 0;
    gap: 1rem;

}

#add-note-container input,
#add-note-container button {
    padding: 10px;
    border-radius: 5px;
}

#add-note-container input {
    flex: 1;
    background-color: transparent;
    border: 1px solid #525356;
    color: #FFF;

}

#add-note-container button {
    cursor: pointer;
    background-color: #333;
    color: #a3a3a3;
    position: relative;
}

#add-note-container button span {
    position: relative;
    top: 3px;
}

#notes-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    padding: 2rem;
    gap: 2rem;
}

.note {
    min-height: 200px;
    padding: 1rem;
    border: 1px solid #ccc;
    background-color: #202124;
    border-radius: 10px;
    color: #FFF;
    position: relative;
}

.note textarea {
    background-color: transparent;
    resize: none;
    color: #FFF;
    border: none;
    height: 100%;
    outline: none;
}

.note #pin {
    position: absolute;
    left: 10px;
    bottom: 10px;
    font-size: 1.2rem;
    background-color: #333;
    cursor: pointer;
    padding: 5px;
    border-radius: 3px;
}

.note #del:hover,
.note #copy:hover {
    opacity: 1;
    color: #FFF;
}

.note:hover #del,
.note:hover #copy {
    opacity: 1;
}

.note #del,
.note #copy {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: .9rem;
    padding: 5px;
    transition: .3s;
    color: #555;
    cursor: pointer;
    opacity: 0;
 
}

.note #copy {
    top: 40px;
}